@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Nunito&display=swap');


* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
:root {
  --primary-color: #212022;
  --background-color: #010409;
  --secondary-color: #333233;
  --btn-green: #6AB166;
  --btn-red: #DB6E63;
  --text-color: #C9D1D9;
}

.show {
  display: block;
}

.hide {
  display: none;
}

body {
  background-color: var( --background-color );
  color: var(--text-color);
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
