.card {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: left;
    padding: 15px 10px 0px 10px;
    min-width: 250px;
    height: 300px;
    border: 2px solid var(--secondary-color);
}

.card__title { 
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
}

.card__desc {
    /* max-width: 250px; */
    max-width: 85%;
    min-height:40px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.High {
    color: var(--btn-red);
}

.Low {
    color: rgb(255, 213, 0);
}

.card__footer {
    bottom:10px;
    margin-top: 120px;
}

#delete {
    position: absolute;
    /* background-color: var(--secondary-color);
    width: 50px;
    height: 50px; */
    left: calc(100% - 40px);
    top: 7%;
    
}

.edit-btn { margin-right: 5px; }

#delete svg {
    margin: -1px auto;
}

.Complete {
    color: var(--btn-green);
}

.Incomplete {
    color: var(--btn-red);
}

@media screen and (max-width: 330px) {
    .card {
        width: 95%;
    }
}
