.card {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: left;
    padding: 15px 10px 0px 10px;
    min-width: 200px;
    height: 250px;
}

.card__title { 
}

.card__desc {
    /* max-width: 250px; */
    min-height:40px;
}

.card__footer {
    
    bottom:10px;
    margin-top: 95px;
}

#delete {
    position: absolute;
    /* background-color: var(--secondary-color);
    width: 50px;
    height: 50px; */
    left: 85%;
    bottom: 10% !important;
    
}

#delete svg {
    margin: -1px auto;
}

.Complete {
    color: var(--btn-green);
}

.Incomplete {
    color: var(--btn-red);
}

@media screen and (max-width: 330px) {
    .card {
        width: 95%;
    }
}